body {
    background: #343434;
    color: #b8ec79;
    font-size: 20px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

div {
    border-radius: 10px;
    box-sizing: border-box;
}

a {
    font-weight: bold;
    display: block;
    border-radius: 10px;
    line-height: 40px;
    text-decoration: none;
}

#mainContainer {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header {
    width: 1100px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #b8ec79;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerDiv {
    width: 33.3%;
    box-sizing: border-box;
    text-align: center;
    float: left;
    line-height: 60px;
}

#adminNr {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 100;
    font-size: 14px;
}

#menuContainer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    min-height: 80px;
    box-sizing: border-box;
}

#menuContainer div {
    width: 59%;
    margin: auto;

}

#menu > li {
    width: 15em;
    float: left;
}

.ui-menu .ui-menu {
    width: 16.3em;
}

#menu {
    float: left;
}

.stickyMenu {
    position: fixed;
    left: 33%;
    top: 0;
    z-index: 100;
}

.container {
    border: 1px solid #b8ec79;
    padding: 20px;
}

#container1 {
    padding: 20px;
    border: 1px solid #b8ec79;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#container2 {
    font-size: 17px;
    box-sizing: border-box;
}

#formContainer {
    margin: auto;
    width: 460px;
}

#particular {
    table-layout: fixed;
}

#particular input[type=text] {
    width: 240px;
}

#topbar {
    background-color: #dddddd;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 250px;
    -webkit-box-shadow: 3px 3px 31px -3px rgba(93, 93, 93, 1);
    -moz-box-shadow: 3px 3px 31px -3px rgba(93, 93, 93, 1);
    box-shadow: 3px 3px 31px -3px rgba(93, 93, 93, 1);
}

.btn {
    background-color: #777777;
    padding: 10px;
    border: 1px solid #b8ec79;
    border-radius: 10px;
}

#sidebar { /*ten łobuz moze sie kiedys przydac*/
    background-color: #f8f8f8;
    border: 1px solid #b8ec79;
    z-index: 100;
    float: left;
    width: 200px;
    min-height: 620px;
    padding-top: 50px;
    text-align: center;
    font-size: 18px;
    color: #b8ec79;
}

img {
    margin-bottom: 20px;
}

.shadow
{
    position:relative;
    text-align: center;
}

.shadow:before {
    content: '';
    position: absolute;
    width: 952px;
    height: 146px;
    -moz-box-shadow: inset 0px 0px 4px 6px rgba(54, 54, 54, 1);
    -webkit-box-shadow: inset 0px 0px 4px 6px rgba(54, 54, 54, 1);
    box-shadow: inset 0px 0px 12px 8px rgba(54, 54, 54, 1);
}

.optionL {
    z-index: 100;
    font-size: 18px;
    height: 53px;
    border-bottom: 2px dotted #444444;
    border-radius: 0px;
}

.usernumber {
    text-align: center;
    font-size: 30px;
}

.logout {
    text-align: right;
    position: fixed;
    right: 50px;
    top: 50px;
}

input[type=text],
input[type=password] {
    width: 300px;
    background-color: #aaaaaa;
    color: #343434;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 0.3em 0 0.3em 0;
}

input[type=text]:focus,
input[type=password]:focus {
    -webkit-box-shadow: 0 0 10px 2px rgba(191, 191, 191, 1);
    -moz-box-shadow: 0 0 10px 2px rgba(191, 191, 191, 1);
    box-shadow: 0 0 10px 2px rgba(191, 191, 191, 1);
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}

table {
    width: 800px;

    border: 1px solid #b8ec79;
    border-spacing: 0;
    margin: 20px 0 20px 0;
    margin-left: auto;
    margin-right: auto;
}

td, th, tr {
    border: 1px solid #b8ec79;
    padding: 5px;
    border-collapse: collapse;
    text-align: right;
}

td {
    width: 48px;
}

th {
    text-align: center;
    padding-top: 10px;
}

table.costs {
    width: 800px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

.button {
    letter-spacing: 2px;
}

input[type=submit] {
    width: 300px;
    padding: 15px 10px;
    margin-top: 20px;
    letter-spacing: 2px;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #999;
}

input:focus::-webkit-input-placeholder {
    color: #428C42;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}

input:focus:-moz-placeholder {
    color: #428C42;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}

input:focus::-moz-placeholder {
    color: #428C42;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}

input:focus:-ms-input-placeholder {
    color: #428C42;
}

/*slideeeeeeeeeeeeeeeeer*/

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

.slide1 {
    background: red;
}

.slide2 {
    background: blue;
}

.slide3 {
    background: green;
}

.slide4 {
    background: purple;
}

.slide5 {
    background: lightgoldenrodyellow;
}

.scroll {
    width: 64px;
    height: 64px;
    text-decoration: none;
    position: fixed;
    bottom: 50px;
    display: none;
    font-size: 70px;
    box-sizing: border-box;

}

.scroll span.ui-button-text {
    padding-left: 0.256em !important;
    padding-top: 0.05em !important;
    z-index: 9999;
}

#scrollup {
    right: 50px;
}

#scrolldown {
    right: 140px;
}

#footer {
    border: 1px solid #b8ec79;
    text-align: right;
    padding: 20px;
    font-size: 15px;
}

#shadow2{
    width: 720px;
    text-align: left;
    margin: auto;
}

#shadow2:before {
    content: '';
    position: absolute;
    width: 720px;
    height: 400px;
    -moz-box-shadow: inset 0 0 4px 6px rgba(54, 54, 54, 1);
    -webkit-box-shadow: inset 0 0 4px 6px rgba(54, 54, 54, 1);
    box-shadow: inset 0 0 12px 8px rgba(54, 54, 54, 1);
}

.alertParagraph{
    padding-top: 30px;
}